# Set the following properties according to your TheTVDB.com user account and rename this file to 'thetvdbapi.properties'
integration.thetvdb.com.apikey=<PLEASE_FILL_IN_APIKEY>
integration.thetvdb.com.fundingmodel=<PLEASE_FILL_IN_FUNDING_MODEL -> CONTRACT|SUBSCRIPTION>
