# Set the following properties according to your TheTVDB.com user account and rename this file to 'thetvdbapi.properties'
integration.thetvdb.com.v3.apikey=<PLEASE_FILL_IN_APIKEY>
integration.thetvdb.com.v3.userkey=<PLEASE_FILL_IN_USERKEY>
integration.thetvdb.com.v3.username=<PLEASE_FILL_IN_USERNAME>
